@import "tailwindcss";

/* Global base styles */
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;

  color: #111827;           /* gray-900 */
  background-color: #f9fafb; /* gray-50 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
